* {
margin:0
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(21, 204, 217);
  height: 7vh;
}
ul {
  display: flex;
}
ul a {
margin-right: 15px;
}
header a {
margin-left: 15px;
padding-top: 15px;
padding-bottom: 15px;
}
#splash {
  background-image: url('./images/why-you-could-be-drinking-more-than-you-think-1440x810.jpg');
background-repeat: no-repeat;
background-size: cover;
  height: 93vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#splash h2{
  margin-bottom: 15px;
  margin-top: 15px;
  color: antiquewhite;
}
#splash button {
padding: 15px;
font-weight: bold;
color: brown;
margin-bottom: 15px;
margin-top: 20px;
}

#splash h1{
  margin-bottom: 15px;
  margin-top: 20px;
  color: antiquewhite;
  font-size: 40px;
}

footer {

  background: rgb(16, 171, 218);
  color: rgb(221, 47, 16);
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  font-weight: bolder;
}

#Location h1 {
  margin-bottom: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: rgb(228, 60, 18);
  font-size: 40px;

}